@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");



.projects-section{
  padding-left: 150px;
  padding-right: 150px;
      background-color: rgb(245, 245, 243);

}


.sectionHeading{
  padding-bottom: 40px;
  h2{
    font-size: clamp(10px, 1.6vw, 13px);

  }
}
.project-item {

}

.project-index {
  font-family: "Source Code Pro", monospace;
  font-size: 1.25rem;
  color: var(--accent);

  /* display: none; */
}

.project-title {
  text-decoration: none;
}

.project-content{
border-bottom: 1px solid rgba(154, 151, 151, 0.5);
padding-top: 10px;
padding-bottom: 10px;
}

.project-content:hover{
  background-color: rgb(242, 242, 242);
}

.project-content:hover h3{
  opacity: 0.4;
}

.project-content h3 {
  margin: 0;
font-size: clamp(16px, 1.6vw, 18px);
  font-weight: 400;
  color: #2c2c2c;
  transition: color 0.2s;
  text-align: left;
font-family: "Lora", "Georgia", serif;
   
  
}

/* .project-title:hover h3 {
  color: var(--accent);
} */

.project-desc {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--muted);
  margin-top: 0.5rem;
  text-align: left;
  font-weight: 300;
  font-family: "Kanit", sans-serif !important;
  opacity: 0.5;

}
.project-demo {
  width: 150px;
  height: 100px; /* Slightly taller */
  background-color: var(--card);
  border-radius: 4px;
  background-size: cover;
  background-position: center top; /* Align to top instead of center */
  background-repeat: no-repeat;
  opacity: 0.9;
  transition: opacity 0.3s;
  flex-shrink: 0;
}


.project-links{
  display: flex;
  gap: 10px;
 a{
    font-family: "Kanit", sans-serif !important;

  color: rgb(71, 71, 70);
  border-bottom: 1px solid rgb(70, 70, 70, 0.2);
  font-weight: 350;
 }
 
}

.sectionIntro{
  background-color: sandybrown !important;
  h2{
    font-family: "Lora", "Georgia", serif;
    font-size: 2rem;
    line-height: 0.5;
    font-weight: 500;
  
  }
  p{
    font-weight: 300;
        opacity: 0.5;
          font-weight: 300;
  font-family: "Kanit", sans-serif !important;
  opacity: 0.5;

  }
}

.project-demo:hover {
  opacity: 1;
}

.GIFdemo1 {
  background-image: url('../../Images/markdownDemo.gif');
}

.GIFdemo2 {
  background-image: url('../../Images/cap4.PNG');
}

.GIFdemo4 {
  background-image: url('../../Images/vynhero.PNG');
}


.GIFdemo5 {
  background-image: url('../../Images/demo4.gif');
}

.project-desc strong {
  display: block;
  font-weight: 400;
  opacity: 0.85;
  margin-bottom: 0.5rem;
}

.project-desc ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0 0;
}

.project-desc li {
  font-size: 0.9rem;
  line-height: 1.5;
  opacity: 0.6;
  margin-bottom: 0.3rem;
  list-style-type: disc;
  font-family: "Kanit", sans-serif;
}


@media screen and (max-width: 576px) {
  
  .projects-section{
  padding-left: 50px;
  padding-right: 50px;

}

  .project-item{
    display: flex;
    flex-direction: column-reverse;
  }

  .project-demo{
  
    background-position: center;
    background-size: contain;
    width: 80%;

  }

  .project-div{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}