@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

 

.workSection{
    background-color: rgb(245, 245, 243);
    padding-left: 150px;
    padding-right: 150px;

}
.workContainer{  
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.workGrid{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* display: grid; */
   
    /* grid-template-columns: repeat(, 1fr); */
    
}

.workDiv{
    height: fit-content;
    width: 100%;

  /* box-shadow: 0 2px 8px rgba(83, 83, 83, 0.3); */
border-bottom: 1px solid grey;
    
}

.worKDescription{
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

h2{
    font-size: 12px;
    color: #1a1919;
    font-family: "Lora", "Georgia", serif;
    line-height: 0.5;
    font-weight: 500;    
}

a{
  text-decoration: none;
}

p{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */

    font-weight: 300;
    font-family: "Kanit", sans-serif ;
    opacity: 0.5;
    /* font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
      sans-serif; */


}

}

.workDiv:hover{
    /* background-color: rgba(137, 183, 227, 0.2); */
}

.workDiv:hover h2 {
  opacity: 0.5;
}






.sectionHeading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}


.sectionTitle {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Space Grotesk",
      sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: black;
    opacity: 0.6;
    margin-top: 50px;



}

.sectionIntro{
  background-color: sandybrown !important;
  h2{
    font-family: "Lora", "Georgia", serif;
    font-size: 2rem;
    line-height: 0.5;
    font-weight: 500;
  
  }
  p{
    font-weight: 300;
        opacity: 0.5;

  }
}



.sectionBorder {
  flex-grow: 1;
  border-bottom: 1px solid #233554;
}