.experienceSection {
  /* padding: 4rem 2rem; */
  color: #2c2d2d;
  /* max-width: 900px; */
  margin: 0 auto;
          font-family: "Kanit", sans-serif;
              background-color: rgb(245, 245, 243);

  padding-left: 150px ;
  padding-right: 150px ;

}

.sectionHeading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sectionTitle {
font-family: "Kanit", sans-serif;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  font-weight: 500;
  /* margin-bottom: 3rem; */
  position: relative;
  text-align: left;
    color:  #48576c;
    font-weight: 400;




}

.sectionBorder {
  flex-grow: 1;
  border-bottom: 1px solid #233554;
}


.experienceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.tabList {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #233554;
  min-width: 120px;
}

.tabButton {
  background: none;
  border: none;
  padding: 1rem;
  text-align: left;
  color: #252525;
  cursor: pointer;
  border-left: 2px solid transparent;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-weight: 400;
}

.tabButton:hover,
.tabButton.active {
  background-color: rgba(105, 139, 177, 0.1);
  color: #000000;
  border-left: 2px solid #585959;
}

.impactItem{
    margin-bottom: 1rem;
  width: 100%;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
        opacity: 0.5;

        .points-title{
          opacity: 1 !important;
          color: rgb(5, 5, 4);
        }
}
.impactItem:hover {
  text-decoration: none;
}

.tabContent {
  flex: 3;
  /* padding-left: 2rem; */
  padding-bottom: 3rem;
  text-align: left;
  width: 100%; /* Take full width on small screens */
  max-width: 600px;
  overflow-x: hidden;
  h3{
    font-weight: 500;
  }
}

.companyName {
  color: #4a4c4d;
          font-family: "Kanit", sans-serif;
          font-weight: 300;

}

.date {
        font-family: "Kanit", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #8892b0;
}

.description {
  margin-bottom: 1rem;
  width: 100%;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
        opacity: 0.5;

}

.skillsList {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.skill {
  background-color: #232324;
  border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 0.85rem;
  white-space: nowrap;
          font-family: "Kanit", sans-serif;

}



.experience-sectionIntro{
  h2{
    font-family: "Lora", "Georgia", serif;
font-size: clamp(1.3rem, 4vw, 2rem);
    line-height: 0.5;
    font-weight: 500;
  
  }
  p{
    font-weight: 300;
        opacity: 0.5;
          font-weight: 300;
  font-family: "Kanit", sans-serif !important;
  opacity: 0.5;
  margin-bottom: 50px;

  }
}
