@media screen and (max-width:480px) {
    .experienceSection{
        display: flex;
        flex-direction: column;
          padding-left: 40px ;
  padding-right: 40px ;

    }

    .experienceContainer{
        flex-direction: column;
        display: flex;

    }

    .tabList{
        display: flex;
        flex-direction: row;
    }
    .tabContent{
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
    }

    .secondHalf{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .experienceDiv{
        display: flex;
        align-items: center;
        justify-content: center;
      width: 80%;
      background-color: palegoldenrod;
    }
    

    .heading{
        font-size: 15px;
    
        .break{
            margin-left: 5px;
            font-family: "Lora", serif;
    
        }
    }

    .skills{
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); */
        /* background-color: aquamarine; */
              div{

            margin-top: 10px;
            font-size: 12px;
            
        }
    }

    .experienceDesc{
       
        font-size: 14px;
    
    
    }

    .firstHalf{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom:1px solid rgb(45, 50, 48);
        
    }
    .star.large {
        width: 40px;
        height: 40px;
      }
      
      .star.medium {
        width: 40px;
        height: 40px;
        margin-left: 0%;
      }
      
      .star.extra-small {
        width: 40px;
        height: 40px;
      }
}