@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poetsen+One&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

.navBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: transparent;
    h2{
        background-color: transparent;
         font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(18px, 3vw, 26px);
  a{color: black;
    
  text-decoration: none;
  }
    }
}

.links{
    background-color: transparent;
    ul{
        background-color: transparent;
        display: flex;
        li{
            background-color: transparent;
            list-style: none;
            padding: 3px;
             font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
      font-size: clamp(17.5px, 1.5vw, 12px);


        }
    }
    a{
        color: black;
        text-decoration: none;
    }
}

li:hover{
        text-decoration: underline;

}/* Tablet */
@media (max-width: 900px) {
  .logo h2 {
    font-size: 22px;
  }
/* 
  .links ul li {
    font-size: 9px;
  } */
}

/* Mobile */
@media (max-width: 600px) {
  .logo h2 {
    font-size: 20px;
  }

  /* .links ul li {
    font-size: 8px;
    letter-spacing: 0.8px;
  } */
}

/* Small phones */
@media (max-width: 420px) {
  .logo h2 {
    font-size: 18px;
  }

  /* .links ul li {
    font-size: 7.5px;
    letter-spacing: 0.6px;
  } */
}
